//.mfp-hide {
//  display: block !important;
//}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close,
.mfp-close-btn-in .mfp-close {
  position: absolute;
  color: $darker-grey;
  right: 2rem;
  text-align: right;
  font-size: 4rem;
  top: 1rem;
  z-index: 5;
  width: 24px;
  height: 31px;
}

.mfp-bg {
  background: rgba($darker-grey, .3) !important;
  z-index: 9999;
}

.blur-filter {
  filter: blur(3px);
}

.mfp-wrap {
  z-index: 9999;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

button.disabled {
  pointer-events: none;
  cursor: default;
  color: #fff;
  background: #999;
  box-shadow: none;
}

.image-source-link {
  color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.register {
  .form_input {
    margin-right: 0;
  }
  &_content {
    padding-top: 2.5rem;
    position: relative;
    z-index: 10;
  }
  .label {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    margin-top: 17px;
    &:first-child {
      margin-right: 16px;
    }
    p {
      display: inline;
    }
    span {
      color: #484444;
      font-family: $desc-font;
      font-size: 12px;
      letter-spacing: 0.3px;
      line-height: 20px;
    }
  }
  &_promocode {
    margin-right: 9rem;
  }
  .main-btn {
    max-width: 324px;
    width: 100%;
    margin: 0 auto 5rem;
    display: block;
  }
  .register_label-checkbox {
    .invalid {
      border: none;
      padding: 0;
      background: transparent;
      bottom: -2rem;
    }
  }
  label {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form_input {
  border: none;
  font-size: 14px;
  line-height: 19px;
  color: $darker-grey;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: rgba(#E0E0E0, .2);
  padding: 11px 15px;

  @include placeholder {
    color: #B7B7B7;
    font-size: 1.4rem;
    font-family: $desc-font;
    letter-spacing: 0.2px;
    line-height: 20px;
  }
}

.form-group {
  @include media(">=tablet") {
    display: flex;
    justify-content: center;
  }
}

.form-title {
  h2 {
    font-family: $desc-font;
    font-size: 24px;
    line-height: 25px;
    font-weight: 800;
    color: #2A2828;
    margin-bottom: 8px;
  }
}

.form-popup {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $white;
  border-radius: 2px;
  padding: 28px 20px 21px;
  overflow-y: auto;
  max-height: calc(100vh - 5rem);

  @include media(">=tablet") {
    padding: 28px 52px 21px;
  }
  .main-btn {
    width: 100%;
    height: 50px;
    background: $orange;
    position: relative;
    z-index: 9;
    color: $white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 19px;
    border-radius: 2px;
    margin-bottom: 15px;
    &::before {
      z-index: -1;
    }
  }

  .create-account {
    font-family: $desc-font;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 1rem;

    a {
      color: $orange;
      text-decoration: underline;


      &:hover {
        text-decoration: none;
      }
    }
  }
}

input[type=checkbox]+label span {
  color: $darker-grey !important;
  font-family: $desc-font;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.form-group-check {
  margin-top: 14px;
  margin-bottom: 32px;

  div {
    margin-bottom: 20px;
  }
}

.social-title {
  color: #B7B7B7;
  font-family: $desc-font;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
  &::before {
    content: '';
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E4E4E4;
    width: 35%;
  }
  &::after {
    content: '';
    height: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E4E4E4;
    width: 35%;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    margin-right: 3.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.login {
  @extend .register;
  max-width: 428px;
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }
  .label {
    width: 100%;
    margin-right: 0 !important;

    &-flex {
      display: flex;
      justify-content: space-between;
      span {
        padding-right: 1rem;
      }

      a {
        color: $orange;
        font-family: $desc-font;
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .login_links {
    max-width: 350px;
    margin: 0 auto 39px;
    display: flex;
    justify-content: space-between;
    color: $white;
    font-size: 12px;
    line-height: 14px;
  }

  .form-group-check {
    margin-bottom: 10px;

    div {
      margin-bottom: 0;
    }
  }
}
